<div>
  <div class="container">
    <h1 #heading>Get Ready...</h1>
    <p *ngIf="isStoryFinished && isStorySuccess" class="text-white">Bravo! Copy your story and continue working on it—or store it at the bottom of the cringe pile, you be the judge of that.</p>
    <p *ngIf="isStoryFinished && isStoryFailure" class="text-white">Well, time is up and you don’t seem to have successfully completed the task. In case we didn’t bore you to death, why not try again?</p>

    <!-- Timer -->

    <div class="flex justify-end">
      <timer [seconds]="15" *ngIf="isTimerVisible" (timeEnded)="timeEnded()"></timer>
    </div>

    <!-- Writing sheet with word count --> 
    <!-- We should replace textarea with a <div contenteditable="true"> and this way enable rich text usage inside of div.
      Then make sure to prepare the contenteditable div for angular material usage with matInput
      This will also help with  the problem of missing caret while textarea is disabled.  -->
    <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field-full-width">
        <textarea
          formControlName="story"
          (click)="onClick($event)"
          (keydown)="onKeyDown($event)"
          (keyup)="onKeyUp($event)"
          #story
          rows="20"
          matInput
        ></textarea> 
        <span *ngIf="isFoldedSheetVisible" class="folded-sheet"></span>
        <div *ngIf="isStoryFinished" class="text-center">
          <button aria-label="Copy the text of the story to clipboard" style="height: 100px; width: 100px;" class="button-alt button-rounded mx-1">
            <i style="font-size: 50px;" class="fa-regular fa-copy"></i>
          </button>
          <button aria-label="Restart the challenge" style="height: 100px; width: 100px;" class="button-alt button-rounded mx-1" (click)="reloadChallenge()" >
            <i style="font-size: 50px;" class="fa-solid fa-rotate-right"></i>
          </button>
        </div>
        <mat-hint class="folded-sheet-hint" *ngIf="story.value" align="end">{{ story.value | wordCount }}/{{minWordCount}}</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>
