<div>
  <div class="container">
    <h1 #heading>Get Ready...</h1>
    <p #subheading></p>

    <!-- Timer -->

    <div class="flex justify-end">
      <timer [seconds]="600" *ngIf="isTimerVisible" (timeEnded)="timeEnded()"></timer>
    </div>

    <!-- Writing sheet with word count -->
    <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field-full-width">
        <textarea
          formControlName="story"
          (click)="onClick($event)"
          (keydown)="onKeyDown($event)"
          (keyup)="onKeyUp($event)"
          #story
          rows="20"
          matInput
        ></textarea>
        <mat-hint *ngIf="story.value" align="end">{{ story.value | wordCount }} / {{minWordCount}}</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>
</div>
