.form-field-full-width {
  width: 100%;
}

textarea {
  margin-bottom: 110px;
}

.custom-textarea {
  height: 500px;
  overflow: auto;
  background-image: linear-gradient(to bottom, #BEDEFF 1px, transparent 1px);
  background-size: 100% 40px;
  background-attachment: local;
  padding: 5px 10px;
}
.custom-textarea-wrapper {
  position: relative;
  padding-left:100px;
  padding-top: 100px;
  background-color: white;
  background-image: 
    linear-gradient(to right, #E19597 1px, transparent 1px), linear-gradient(to bottom, #E19597 1px, transparent 1px),
    linear-gradient(to bottom, white 99px, transparent 0), /* Covers up 100px */
    linear-gradient(to bottom, #BEDEFF 1px, transparent 1px);
  background-size: 100%, 100%, 100% 100%, 100% 40px,  ;
  background-position:  
    99px 0, 0 99px,
    0 0, 
    0 100px; 
  background-repeat:no-repeat, no-repeat, repeat, repeat, ;
}

.folded-sheet {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background: linear-gradient(
    to bottom right,
    var(--seashellBeige) 50%,
    var(--bodyBackgroundColor) 50%
  );
}

.folded-sheet-hint {
  display: inline-block;
  padding: 0.5rem;
  color: var(--gray);
}
