.uppercase {
  text-transform: uppercase !important;
}
.text-decoration-none {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-1-5-em {
  font-size: 1.5em;
}

.font-weight-500 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}
