<div class="h-100 pt-1 pb-3">
  <div class="container">
    <div class="flex flex-wrap gap-3">
      <div class="flex-1 mobile-flex-full-width">
        <b class="uppercase">15-minute writing exercise</b>
        <h1>Write Your Worst Story Yet</h1>
        <p>
          Abandon your principles, exit your tortutred soul roule for 15
          minutes, and write something for a change. Come on, Camus, chop-chop.
        </p>
        <button
          routerLink="/schroedinger-challenge-writing"
          mat-flat-button
          color="primary"
          class="uppercase"
        >
          Start Writing
        </button>
      </div>
      <div class="flex-1 mobile-flex-full-width">
        <img
          class="w-100"
          src="/assets/images/HeroImage.svg"
          alt="A scribble of cavemen drawing on walls"
        />
      </div>
    </div>

    <div class="flex flex-wrap gap-3 mt-3">
      <div class="flex-1 mobile-flex-full-width">
        <h2>The Rulebook</h2>
        <p>
          For the next 15 minutes, your only mission will be to finish a
          300-word short story.
        </p>
        <ul class="list-bullets-purple">
          <li>
            When you start, a writing box will appear and the timer will start
            counting down. You can’t pause the timer.
          </li>
          <li>
            We’ll give you the first sentence to light the spark & you’ll take
            it from there.
          </li>
          <li>
            A few more sentences will appear down the road to force a plot twist
            on you. Maybe.
          </li>
          <li>
            You can’t delete the props; their job is to make you think
            fast—don’t overthink it.
          </li>
          <li>
            The timer will warn you near the end to avoid cutting you off
            mid-thought.
          </li>
        </ul>
        <p>Follow the button to, well, start writing. Have fun, you!</p>
      </div>
      <div class="flex-1 mobile-flex-full-width">
        <div class="bg-english-violet-purple text-center text-white p-2">
          <h3>Stop procrastinating.</h3>
          <img class="w-100 pb-2" src="/assets/images/scribble.png" alt="A scribble" />
          <div>
            <button
              class="text-white uppercase"
              routerLink="/schroedinger-challenge-writing"
              mat-raised-button
              color="accent"
            >
              Start Writing
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
