<div class="h-100 bg-peach">
  <div class="container">
    <div class="flex">
      <div class="flex-1">
        <span class="uppercase">15-minute writing exercise</span>
        <h1>Write Your Worst Story Yet</h1>
        <p>
          Abandon your principles, exit your tortutred soul roule for 15
          minutes, and write something for a change. Come on, Camus, chop-chop.
        </p>
        <button routerLink="/schroedinger-challenge-writing" mat-flat-button color="primary" class="uppercase">Start Writing</button>
      </div>
      <div class="flex-1">
        <img src="" alt="A scribble of cavemen drawing on walls" />
      </div>
    </div>

    <div class="flex">
      <div class="flex-1">
        <h2>The Rulebook</h2>
        <p>
          For the next 15 minutes, your only mission will be to finish a
          300-word short story.
        </p>
        <ul class="list-bullets-purple">
          <li>
            When you start, a writing box will appear and the timer will start
            counting down. You can't pause the timer.
          </li>
          <li>
            We'll give you the first sentance to light the spark & you'll take
            it from there
          </li>
          <li>
            A few more sentences will appear down the road to force a plot twist
            on you. Maybe.
          </li>
          <!-- TODO: Za iduci item smo rekli da ne moze da se izbrise nista sto se desilo prije posljednjeg propsa -->
          <li>
            You can't delete the props, but you can edit around them - don't
            overthink it.
          </li>
          <li>
            The timer will warn you eear the end to avoid curring you off
            mid-thought
          </li>
        </ul>
        <p>Click the button below to, well, start writing. Have fun, you!</p>
      </div>
      <div class="flex-1">
        <h3>Stop procarstinating.</h3>
        <img src="" alt="A scribble" />
        <div>
          <button
            routerLink="/schroedinger-challenge-writing"
            mat-raised-button
            color="primary"
          >
            Start Writing
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
